.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.form-group {
  margin-top: 50px;
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #121212;
  border-radius: 25px;
  margin-bottom: 15%;

}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

#ingrCarac {

  margin-left: 10%;
}

#inNumber {
  margin-top: 2em;
  text-align: center;
  margin-left: 2em;
  width: 3em;
  background-color: #171717;
  color: white;
  border: none;
}


.input1 {
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  margin: auto;
  min-width: 20px;
  width: 30rem;
  display: flex;
  align-items: center;
  gap: 0.8em;
  border-radius: 25px;
  padding: 0.5em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}


.input-field {
  text-align: left;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;

}



.input2 {
  margin: auto;
  min-width: 20px;
  width: 20rem;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 0.5em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}


.input-field2 {
  text-align: left;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;

}

.listHash {
  color: white; 
  margin-left: -20px; 
  max-height: 200px; 
  overflow-y: auto; 
  scrollbar-width: thin
}



.bton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10%;
  gap: 20px;
}

.button1en {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  min-width: 125px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #171717;
  color: white;
}

.button1en:hover {
  background-color: rgb(59, 155, 184);
  color: white;
}

.button4sa {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  min-width: 125px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: rgb(0, 100, 0);
  color: white;
}

.button4sa:hover {
  background-color: rgb(0, 150, 0);
  color: white;
}

.button3cle {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  min-width: 125px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: rgb(100, 0, 0);
  color: white;
}

.button3cle:hover {
  background-color: rgb(150, 0, 0);
  color: white;
}

.button2des {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  min-width: 125px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #171717;
  color: white;
}

.button2des:hover {
  background-color: rgb(59, 155, 184);
  color: white;
}

.buttonlogout{
  margin-top: 5%;
  margin-left: 85%;
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out; 
  background-color: #171717;
  color: white;
}

.buttonlogout:hover {
  background-color: rgb(134, 25, 25);
  color: white;
}

.textarea {
  margin: auto;
  display: flex;
  align-items: center;
  min-width: 255px;
  width: 600px;
  background-color: #171717;
  color: white;
  border: none;
  resize: none;
} 

.matProgress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}







.codDup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textCodDup {
  color: white;
}

.list {
  color: white;
}